#rojo {
    width:100px;
    height:100px;
    border-radius:150px;
   
}
#amarillo {
    width:100px;
    height:100px;
    border-radius:150px;
}
#verde {
    width:100px;
    height:100px;
    border-radius:150px;
}
#cuerpo{
    width:130px;
    border-radius: 20px;
}
.red2 {background-color: red;
box-shadow: 0px 0px 30px #ffffff;
}
.red {background-color: rgba(255, 0, 0, .3);
}

.yellow2 {background-color: yellow;
box-shadow: 0px 0px 30px #ffffff;
}
.yellow {background-color: rgba(255, 255, 0, 0.3);
}

.green2 {background-color: green;
box-shadow: 0px 0px 30px #ffffff;
}
.green {background-color: rgba(15, 110, 15, 0.3);
}
